<%- include ('layouts/header') %>

<h1><span class="goback" onclick="window.history.back()">←</span> Log</h1>
<div>
   <p>Resources:</p> 
   <p><a href="/user/log">view</a></p>
   <p><a href="/user/log">execute</a></p> 
   <p><a href="/user/log">fetch</a></p>
</div>

<%- include ('layouts/footer') %>