<%- include ('layouts/header') %>

<h1><span class="goback" onclick="window.history.back()">←</span> Media & Technology</h1>
<div>
   <p>Resources:</p> 
   <p><a href="/user/media&technology">borrow</a></p>
   <p><a href="/user/media&technology">hold</a></p> 
   <p><a href="/user/media&technology">search</a></p>
</div>

<%- include ('layouts/footer') %>